<div #main class="main">
  <div *ngIf="nameEntered == false" class="initial-popup">
    <h2 class = "name__title">What is your name?</h2>
    <input
      class = "name__input"
      [(ngModel)]="this.name"
      (keyup.enter) = "setName()"
      type="text"
      name="nameCollector">
  </div>

  <h1 class = "name"*ngIf = "nameEntered">Welcome, {{name}}</h1>
  <app-weather ></app-weather>
  <app-bookmarks [editMode]="editingBookmarks"></app-bookmarks>
  <app-settings
    (backgroundImageEmit)="setBackground($event)"
    (nameEmit)="changeName($event)"
    (editModeEmit)="editMode($event)"></app-settings>

</div>
